$dark-grey: #5d5c61;
$light-grey: #938e94;
$light-blue: #7395ae;
$dark-blue: #557a95;
$bronco: #b1a296;

// Colors
$light-grey: #e8e8e8; // background and text
$dark-grey: #333745; // background and text
$pink: #c0445b; // main details
$link: #5087e0; // link color
$turqouise: #25ced1; // primary actions and details
$coral: #ff8a5b; // secondary actions and details
$warning: #ffc857; // warnings
$error: #db453b; // errors
